<p-dialog header="Informação do Usuário" [visible]="visible" (visibleChange)="closeModal($event)" [modal]="true" [style]="{ width: '80vw', maxWidth: '30rem' }" [draggable]="false" [resizable]="false" styleClass="overflow-hidden">
  <div class="flex flex-column justify-content-start align-items-stretch">
    <div class="flex gap-3 align-items-center mb-3">
      <img [src]="user?.profilePicture" [alt]="user?.name" width="120" height="120" class="border-round">
      <div class="flex-1 flex flex-column justify-content-between align-items-start">
        <h2 class="text-lg text-gray-500">{{user?.name}}</h2>
        <div class="flex gap-3">
          <p-button (onClick)="openModalUserEdit()" label="Editar" icon="pi pi-pencil" severity="secondary" styleClass="p-2 text-sm" />
          @if(user?.disabled) {
          <p-button label="Habilitar" icon="pi pi-check-circle" severity="success" styleClass="p-2 text-sm" />
          } @else {
          <p-button label="Desabilitar" icon="pi pi-ban" severity="danger" styleClass="p-2 text-sm" />
          }
        </div>
      </div>
    </div>

    <h4 class="my-2 text-gray-400"><span class="pi pi-envelope pr-2"></span>E-mail:</h4>
    <p class="ml-4 my-0">{{user?.email}} </p>
    <h4 class="my-2 text-gray-400"><span class="pi pi-phone pr-2"></span>Telefone:</h4>
    <p class="ml-4 my-0">{{user?.phoneNumber}}</p>
    <h4 class="my-2 text-gray-400"><span class="pi pi-id-card pr-2"></span>CPF:</h4>
    <p class="ml-4 my-0">{{user?.cpf}}</p>
    <h4 class="my-2 text-gray-400"><span class="pi pi-ban pr-2"></span>Status:</h4>
    <p class="ml-4 my-0"><tag-user [disabled]="user?.disabled" /></p>
    <h4 class="my-2 text-gray-400"><span class="pi pi-shield pr-2"></span>Acesso:</h4>
    <p class="ml-4 my-0">{{user?.role}}</p>
    <h4 class="my-2 text-gray-400"><span class="pi pi-calendar-plus pr-2"></span>Filiado em:</h4>
    <p class="ml-4 my-0">{{user?.createdAt}}</p>
  </div>
</p-dialog>

<modal-user-edit [user]="user" [visible]="visibleModalUserEdit" (visibleChange)="closeModalUserEdit($event)" />