<c-layout>
  <div class="flex gap-3 justify-content-between align-items-center">
    <div>
      <h1 class="text-3xl text-gray-300 uppercase m-0">
        Filmes
      </h1>
      <span class="inline-block text-gray-600 mt-1">
        Controle de filmes
      </span>
    </div>
    <p-button label="Novo" icon="pi pi-plus" size="small" (onClick)="showCreateModal()" />
  </div>

  <div class="mt-5">
    <p-table [value]="films" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="{first} a {last} de {totalRecords}" [rowsPerPageOptions]="[10, 20, 50, 100]" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th colspan="5" class="p-0">
            <form [formGroup]="formFilter" (ngSubmit)="onSubmit()" class="w-full flex">
              <button type="button" (click)="clearFilter()" class="border-none px-3 surface-100 text-gray-600 cursor-pointer hover:surface-200" aria-label="Limpar busca">
                <span class="pi pi-filter-slash"></span>
              </button>

              <input formControlName="title" type="text" placeholder="Título do filme" class="flex-1 p-3 border-none outline-none focus:surface-50" aria-label="Campo para filtrar por título">
              <input formControlName="genres" type="text" placeholder="Gênero do filme" class="flex-1 p-3 border-none outline-none border-left-1 border-gray-200 focus:surface-50" aria-label="Campo para filtrar por gênero">

              <button type="submit" class="border-none px-3 surface-100 text-gray-600 cursor-pointer hover:surface-200" aria-label="Buscar">
                <span class="pi pi-search"></span>
              </button>
            </form>
          </th>
        </tr>
        <tr>
          <th>Título</th>
          <th>Gêneros</th>
          <th>Duração</th>
          <th>Publicado em</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-film>
        <tr>
          <td class="flex gap-3 align-items-center justify-content-start">
            <img [src]="film?.coverImage" [alt]="film?.title" width="40" height="60" class="border-round" style="object-fit: cover;">
            {{ film?.title }}
          </td>
          <td>{{ film?.genres }}</td>
          <td>{{ film?.duration }} minutos</td>
          <td>{{ film?.publishedIn | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button (click)="showInfoModal(film)" class="flex align-items-center p-2 bg-white border-none border-round cursor-pointer active:surface-50" aria-label="Mais detalhes">
              <span class="pi pi-external-link"></span>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <modal-film-info [visible]="visibilityInfoModal" (visibleChange)="changeVisibilityOfInfoModal($event)" [film]="film" />
    <modal-film-create [visible]="visibleCreateModal" (visibleChange)="changeVisibilityOfCreateModal($event)" />
  </div>
</c-layout>