<c-layout>
  <div class="mb-5">
    <h1 class="text-3xl text-gray-300 uppercase m-0">
      Conta
    </h1>
    <span class="inline-block text-gray-600 mt-1">
      Página de informações pessoais
    </span>
  </div>

  <div>
    <h2 class="text-white">{{ user?.name || 'Carregando...' }}</h2>
    <label for="profilePicture" class="cursor-pointer">
      <img [src]="user?.profilePicture || DEFAULT_PERSON" [alt]="user?.name" width="100" height="100" class="border-round" style="object-fit: cover;">
    </label>
    <input (change)="changeProfilePicture($event)" type="file" id="profilePicture" accept="image/*" max="5000000" class="hidden">
  </div>

  <div>
    <h2 class="text-white">Perfil</h2>
    <form-profile />
  </div>

  <div>
    <h2 class="text-white">Acesso</h2>
    <form-access />
  </div>
</c-layout>