<header class="w-full" [ngClass]="{'surface-900': !transparent}">
  <div class="w-full px-5 py-4 sm:w-10 sm:mx-auto sm:px-0" style="max-width: 1200px">
    <ul class="flex gap-3 flex-wrap align-items-center justify-content-center sm:justify-content-end list-none m-0 p-0">
      @if(isAdmin) {
      <li><a href="/admin" class="no-underline text-gray-300 hover:text-gray-50">Dashboard</a></li>
      <li><a href="/admin/users" class="no-underline text-gray-300 hover:text-gray-50">Usuários</a></li>
      <li><a href="/admin/films" class="no-underline text-gray-300 hover:text-gray-50">Filmes</a></li>
      <li><a href="/admin/sessions" class="no-underline text-gray-300 hover:text-gray-50">Sessões</a></li>
      <li><a href="/admin/rooms" class="no-underline text-gray-300 hover:text-gray-50">Salas</a></li>
      }
    </ul>
  </div>
</header>