<header class="w-full mx-auto px-5 py-4 sm:w-10 sm:px-0" style="max-width: 1200px">
  <ul class="flex gap-3 flex-wrap align-items-center justify-content-center sm:justify-content-end list-none m-0 p-0">
    @if(isAdmin) {
    <li><a href="/admin" class="no-underline text-gray-300 hover:text-gray-50 text-lg">Dashboard</a></li>
    <li><a href="/admin/users" class="no-underline text-gray-300 hover:text-gray-50 text-lg">Usuários</a></li>
    <li><a href="/admin/films" class="no-underline text-gray-300 hover:text-gray-50 text-lg">Filmes</a></li>
    <li><a href="/admin/sessions" class="no-underline text-gray-300 hover:text-gray-50 text-lg">Sessões</a></li>
    <li><a href="/admin/rooms" class="no-underline text-gray-300 hover:text-gray-50 text-lg">Salas</a></li>
    }
  </ul>
</header>