<header class="w-full z-5" [style.background]="background" [style.position]="position">
  <div class="w-full px-5 py-4 sm:w-10 sm:mx-auto sm:px-0" style="max-width: 1200px">
    <ul class="flex gap-3 flex-wrap align-items-center justify-content-center sm:justify-content-end list-none m-0 p-0">
      <li><a routerLink="/" class="no-underline text-gray-300 hover:text-gray-50">Home</a></li>
      @if(isLogged && isAdmin) {
      <li><a routerLink="/admin" class="no-underline text-gray-300 hover:text-gray-50">Admin</a></li>
      <li><a routerLink="/admin/users" class="no-underline text-gray-300 hover:text-gray-50">Usuários</a></li>
      <li><a routerLink="/admin/films" class="no-underline text-gray-300 hover:text-gray-50">Filmes</a></li>
      <li><a routerLink="/admin/sessions" class="no-underline text-gray-300 hover:text-gray-50">Sessões</a></li>
      <li><a routerLink="/admin/rooms" class="no-underline text-gray-300 hover:text-gray-50">Salas</a></li>
      }
      @if(isLogged && !isAdmin) {
      <li><a routerLink="/films" class="no-underline text-gray-300 hover:text-gray-50">Filmes</a></li>
      <li><a routerLink="/sessions" class="no-underline text-gray-300 hover:text-gray-50">Sessões</a></li>
      <li><a routerLink="/account" class="no-underline text-gray-300 hover:text-gray-50">Conta</a></li>
      }
      @if(isLogged) {
      <li><a (click)="logout()" class="no-underline text-gray-300 hover:text-gray-50 cursor-pointer">Sair</a></li>
      }
      @else {
      <li><a routerLink="/auth/login" class="no-underline text-gray-300 hover:text-gray-50">Entrar</a></li>
      <li><a routerLink="/auth/signup" class="p-button no-underline text-gray-300 hover:text-gray-50">Cadastre-se</a></li>
      }
    </ul>
  </div>
</header>