<p-dialog header="Editar Filme" [visible]="visible" (visibleChange)="changeVisibilityModal($event)" [modal]="true" [style]="{ width: '80vw', maxWidth: '30rem' }" [draggable]="false" [resizable]="false" styleClass="overflow-hidden">
  <div class="flex flex-column justify-content-start align-items-stretch">
    <form class="flex flex-column align-items-stretch" [formGroup]="formFilmEdit" (ngSubmit)="onSubmit()">

      <input formControlName="uuid" type="hidden" name="uuid">

      <div class="mt-2">
        <label for="title" class="inline-block text-gray-700 mb-2">Título<span class="text-red-600">*</span></label>
        <input formControlName="title" type="text" id="title" name="title" autocomplete="off" class="w-full p-2 border-round border-2 border-gray-300 outline-none focus:border-primary" placeholder="Título do filme" aria-label="Campo para título">
        @if (formFilmEditSubmitted && formFilmEdit.get('title')?.errors) {
        <small class="inline-block mt-2 text-red-500">Preencha com o título do filme.</small>
        } @else if (formFilmEdit.get('title')?.touched && formFilmEdit.get('title')?.hasError('required')) {
        <small class="inline-block mt-2 text-red-500">Este campo é obrigatório.</small>
        }
      </div>

      <div class="mt-2">
        <label for="resume" class="inline-block text-gray-700 mb-2">Sinopse<span class="text-red-600">*</span></label>
        <textarea formControlName="resume" type="text" id="resume" name="resume" autocomplete="off" class="w-full p-2 border-round border-2 border-gray-300 outline-none focus:border-primary" placeholder="Sinopse do filme" aria-label="Campo para sinopse"></textarea>
        @if (formFilmEditSubmitted && formFilmEdit.get('resume')?.errors) {
        <small class="inline-block mt-2 text-red-500">Preencha com a sinopse do filme.</small>
        } @else if (formFilmEdit.get('resume')?.touched && formFilmEdit.get('resume')?.hasError('required')) {
        <small class="inline-block mt-2 text-red-500">Este campo é obrigatório.</small>
        }
      </div>

      <div class="mt-2">
        <label for="genres" class="inline-block text-gray-700 mb-2">Gêneros<span class="text-red-600">*</span></label>
        <input formControlName="genres" type="text" id="genres" name="genres" autocomplete="off" class="w-full p-2 border-round border-2 border-gray-300 outline-none focus:border-primary" placeholder="Ação, Comédia, Ficção" aria-label="Campo para lista de gêneros">
        @if (formFilmEditSubmitted && formFilmEdit.get('genres')?.errors) {
        <small class="inline-block mt-2 text-red-500">Preencha com os gêneros do filme.</small>
        } @else if (formFilmEdit.get('genres')?.touched && formFilmEdit.get('genres')?.hasError('required')) {
        <small class="inline-block mt-2 text-red-500">Este campo é obrigatório.</small>
        }
      </div>

      <div class="mt-2">
        <label for="duration" class="inline-block text-gray-700 mb-2">Duração em Minutos<span class="text-red-600">*</span></label>
        <input formControlName="duration" type="text" id="duration" name="duration" autocomplete="off" class="w-full p-2 border-round border-2 border-gray-300 outline-none focus:border-primary" placeholder="Duração em minutos" aria-label="Campo para duração do filme">
        @if (formFilmEditSubmitted && formFilmEdit.get('duration')?.errors) {
        <small class="inline-block mt-2 text-red-500">Preencha com a duração do filme em minutos.</small>
        } @else if (formFilmEdit.get('duration')?.touched && formFilmEdit.get('duration')?.hasError('required')) {
        <small class="inline-block mt-2 text-red-500">Este campo é obrigatório.</small>
        }
      </div>

      <div class="mt-2">
        <label for="publishedIn" class="inline-block text-gray-700 mb-2">Lançamento</label>
        <input formControlName="publishedIn" type="date" id="publishedIn" name="publishedIn" autocomplete="off" class="w-full p-2 border-round border-2 border-gray-300 outline-none focus:border-primary" aria-label="Campo para data de lançamento">
        @if (formFilmEditSubmitted && formFilmEdit.get('publishedIn')?.errors) {
        <small class="inline-block mt-2 text-red-500">Preencha com a data de lançamento do filme.</small>
        } @else if (formFilmEdit.get('publishedIn')?.touched && formFilmEdit.get('publishedIn')?.hasError('required')) {
        <small class="inline-block mt-2 text-red-500">Este campo é obrigatório.</small>
        }
      </div>

      <div class="mt-2">
        <label for="coverImage" class="inline-block text-gray-700 mb-2">Imagem de Capa<span class="text-red-600">*</span></label>
        <label for="coverImage" class="w-full p-button p-button-outlined flex align-content-center justify-content-center gap-2" aria-label="Campo para imagem de capa"><span class="pi pi-upload"></span>Selecionar Imagem de Capa</label>
        <input formControlName="coverImageFile" (change)="selectCoverImage($event)" type="file" id="coverImage" accept="image/*" max="5000000" class="hidden" />
        @if (formFilmEditSubmitted && formFilmEdit.get('coverImage')?.errors) {
        <small class="inline-block mt-2 text-red-500">Escolha uma imagem de capa para o filme.</small>
        } @else if (formFilmEdit.get('coverImage')?.touched && formFilmEdit.get('coverImage')?.hasError('required')) {
        <small class="inline-block mt-2 text-red-500">Este campo é obrigatório.</small>
        }
      </div>

      <button pButton label="Editar" [disabled]="btnDisabled" class="mt-3 uppercase"></button>
    </form>
  </div>
</p-dialog>