.p-megamenu {
  padding: 0.5rem;
  background: var(--surface-b);
  color: var(--text-color);
  border: 1px solid var(--surface-d);
  border-radius: var(--border-radius);
}

.p-megamenu .p-megamenu-root-list {
  outline: 0 none;
}

.p-megamenu .p-menuitem > .p-menuitem-content {
  color: var(--text-color);
  transition: box-shadow 0.2s;
  border-radius: 0;
}

.p-megamenu .p-menuitem > .p-menuitem-content .p-menuitem-link {
  color: var(--text-color);
  padding: 0.75rem 1.25rem;
  user-select: none;
}

.p-megamenu
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--text-color);
}

.p-megamenu
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon {
  color: var(--text-color-secondary);
  margin-right: 0.5rem;
}

.p-megamenu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
  color: var(--text-color-secondary);
}

.p-megamenu .p-menuitem.p-highlight > .p-menuitem-content {
  color: var(--highlight-text-color);
  background: var(--highlight-bg);
}

.p-megamenu
  .p-menuitem.p-highlight
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--highlight-text-color);
}

.p-megamenu
  .p-menuitem.p-highlight
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon,
.p-megamenu
  .p-menuitem.p-highlight
  > .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--highlight-text-color);
}

.p-megamenu .p-menuitem.p-highlight.p-focus > .p-menuitem-content {
  background: var(--surface-popup);
}

.p-megamenu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content {
  color: var(--text-color);
  background: var(--surface-d);
}

.p-megamenu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--text-color);
}

.p-megamenu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon,
.p-megamenu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--text-color);
}

.p-megamenu
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  color: var(--text-color);
  background: var(--surface-c);
}

.p-megamenu
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--text-color);
}

.p-megamenu
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-menuitem-icon,
.p-megamenu
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--text-color-secondary);
}

.p-megamenu .p-megamenu-panel {
  background: var(--surface-a);
  color: var(--text-color);
  border: 0 none;
  box-shadow: 0 2px 12px 0 var(--color-shadow);
}

.p-megamenu .p-submenu-header {
  margin: 0;
  padding: 0.75rem 1.25rem;
  color: var(--gray-700);
  background: var(--surface-a);
  font-weight: 700;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.p-megamenu .p-submenu-list {
  padding: 0.5rem 0;
  width: 12.5rem;
}

.p-megamenu .p-submenu-list .p-menuitem-separator {
  border-top: 1px solid var(--surface-d);
  margin: 0.25rem 0;
}

.p-megamenu.p-megamenu-vertical {
  width: 12.5rem;
  padding: 0.5rem 0;
}

.p-megamenu.p-megamenu-horizontal
  .p-megamenu-root-list
  > .p-menuitem
  > .p-menuitem-content {
  color: var(--text-color);
  transition: box-shadow 0.2s;
  border-radius: var(--border-radius);
}

.p-megamenu.p-megamenu-horizontal
  .p-megamenu-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link {
  padding: 0.75rem 1.25rem;
  user-select: none;
}

.p-megamenu.p-megamenu-horizontal
  .p-megamenu-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--text-color);
}

.p-megamenu.p-megamenu-horizontal
  .p-megamenu-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon {
  color: var(--text-color-secondary);
  margin-right: 0.5rem;
}

.p-megamenu.p-megamenu-horizontal
  .p-megamenu-root-list
  > .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--text-color-secondary);
  margin-left: 0.5rem;
}

.p-megamenu.p-megamenu-horizontal
  .p-megamenu-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  color: var(--text-color);
  background: var(--surface-c);
}

.p-megamenu.p-megamenu-horizontal
  .p-megamenu-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--text-color);
}

.p-megamenu.p-megamenu-horizontal
  .p-megamenu-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-menuitem-icon,
.p-megamenu.p-megamenu-horizontal
  .p-megamenu-root-list
  > .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--text-color-secondary);
}
