.p-overlay-modal .p-cascadeselect-sublist .p-cascadeselect-panel {
  box-shadow: none;
  border-radius: 0;
  padding: 0.25rem 0 0.25rem 0.5rem;
}

.p-overlay-modal
  .p-cascadeselect-item-active
  > .p-cascadeselect-item-content
  .p-cascadeselect-group-icon {
  transform: rotate(90deg);
}
