.p-organizationchart
  .p-organizationchart-node-content.p-organizationchart-selectable-node:not(
    .p-highlight
  ):hover {
  background: var(--surface-c);
  color: var(--text-color);
}

.p-organizationchart .p-organizationchart-node-content.p-highlight {
  background: var(--highlight-bg);
  color: var(--highlight-text-color);
}

.p-organizationchart
  .p-organizationchart-node-content.p-highlight
  .p-node-toggler
  i {
  color: var(--primary-100);
}

.p-organizationchart .p-organizationchart-line-down {
  background: var(--surface-d);
}

.p-organizationchart .p-organizationchart-line-left {
  border-right: 1px solid var(--surface-d);
  border-color: var(--surface-d);
}

.p-organizationchart .p-organizationchart-line-top {
  border-top: 1px solid var(--surface-d);
  border-color: var(--surface-d);
}

.p-organizationchart .p-organizationchart-node-content {
  border: 1px solid var(--surface-d);
  background: var(--surface-a);
  color: var(--text-color);
  padding: 1.25rem;
}

.p-organizationchart .p-organizationchart-node-content .p-node-toggler {
  background: inherit;
  color: inherit;
  border-radius: 50%;
}

.p-organizationchart
  .p-organizationchart-node-content
  .p-node-toggler:focus-visible {
  outline: 0 none;
  outline-offset: 0;
}
