.p-panel .p-panel-header {
  border: 1px solid var(--surface-d);
  padding: 1.25rem;
  background: var(--surface-b);
  color: var(--gray-700);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.p-panel .p-panel-header .p-panel-title {
  font-weight: 700;
}

.p-panel .p-panel-header .p-panel-header-icon {
  width: 2rem;
  height: 2rem;
  color: var(--text-color-secondary);
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-panel .p-panel-header .p-panel-header-icon:enabled:hover {
  color: var(--gray-700);
  border-color: transparent;
  background: var(--surface-c);
}

.p-panel .p-panel-header .p-panel-header-icon:focus-visible {
  outline: 0 none;
  outline-offset: 0;
}

.p-panel.p-panel-toggleable .p-panel-header {
  padding: 0.75rem 1.25rem;
}

.p-panel .p-panel-content {
  padding: 1.25rem;
  border: 1px solid var(--surface-d);
  background: var(--surface-a);
  color: var(--text-color);
  border-top: 0 none;
}

.p-panel .p-panel-content:last-child {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.p-panel .p-panel-footer {
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--surface-d);
  background: var(--surface-a);
  color: var(--text-color);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border-top: 0 none;
}

.p-panel .p-panel-icons-end {
  order: 2;
  margin-left: auto;
}

.p-panel .p-panel-icons-start {
  order: 0;
  margin-right: 0.5rem;
}

.p-panel .p-panel-icons-center {
  order: 2;
  width: 100%;
  text-align: center;
}
