p-password.ng-invalid.ng-dirty > .p-password > .p-inputtext {
  border-color: var(--red-500);
}

.p-password-panel {
  padding: 1.25rem;
  background: var(--surface-a);
  color: var(--text-color);
  border: 0 none;
  box-shadow: 0 2px 12px 0 var(--color-shadow);
  border-radius: var(--border-radius);
}

.p-password-panel .p-password-meter {
  margin-bottom: 0.5rem;
  background: var(--surface-d);
}

.p-password-panel .p-password-meter .p-password-strength.weak {
  background: var(--red-600);
}

.p-password-panel .p-password-meter .p-password-strength.medium {
  background: var(--yellow-600);
}

.p-password-panel .p-password-meter .p-password-strength.strong {
  background: var(--green-600);
}

p-password.p-password-clearable .p-password-input {
  padding-right: 2.5rem;
}
p-password.p-password-clearable .p-password-clear-icon {
  color: var(--text-color-secondary);
  right: 0.75rem;
}

p-password.p-password-clearable.p-password-mask .p-password-input {
  padding-right: 4.25rem;
}
p-password.p-password-clearable.p-password-mask .p-password-clear-icon {
  color: var(--text-color-secondary);
  right: 2.5rem;
}
