.p-scrollpanel .p-scrollpanel-bar {
  background: var(--surface-b);
  border: 0 none;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}

.p-scrollpanel .p-scrollpanel-bar:focus-visible {
  outline: 0 none;
  outline-offset: 0;
}
