.p-selectbutton .p-button {
  background: var(--surface-a);
  border: 1px solid var(--gray-300);
  color: var(--text-color);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}

.p-selectbutton .p-button .p-button-icon-left,
.p-selectbutton .p-button .p-button-icon-right {
  color: var(--text-color-secondary);
}

.p-selectbutton .p-button:not(.p-disabled):not(.p-highlight):hover {
  background: var(--surface-c);
  border-color: var(--gray-300);
  color: var(--text-color);
}

.p-selectbutton
  .p-button:not(.p-disabled):not(.p-highlight):hover
  .p-button-icon-left,
.p-selectbutton
  .p-button:not(.p-disabled):not(.p-highlight):hover
  .p-button-icon-right {
  color: var(--gray-700);
}

.p-selectbutton .p-button.p-highlight {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--primary-color-text);
}

.p-selectbutton .p-button.p-highlight .p-button-icon-left,
.p-selectbutton .p-button.p-highlight .p-button-icon-right {
  color: var(--primary-color-text);
}

.p-selectbutton .p-button.p-highlight:hover {
  background: var(--primary-500);
  border-color: var(--primary-500);
  color: var(--primary-color-text);
}

.p-selectbutton .p-button.p-highlight:hover .p-button-icon-left,
.p-selectbutton .p-button.p-highlight:hover .p-button-icon-right {
  color: var(--primary-color-text);
}

p-selectbutton.ng-dirty.ng-invalid > .p-selectbutton > .p-button {
  border-color: var(--red-500);
}
