.p-skeleton {
  background-color: var(--surface-d);
  border-radius: var(--border-radius);
}

.p-skeleton:after {
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}
