.p-steps .p-steps-item .p-menuitem-link {
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: var(--border-radius);
  background: var(--surface-a);
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
  color: var(--text-color);
  border: 1px solid var(--surface-c);
  background: var(--surface-a);
  min-width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.143rem;
  z-index: 1;
  border-radius: 50%;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-title {
  margin-top: 0.5rem;
  color: var(--text-color-secondary);
}

.p-steps .p-steps-item .p-menuitem-link:not(.p-disabled):focus-visible {
  outline: 0 none;
  outline-offset: 0;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  background: var(--highlight-bg);
  color: var(--highlight-text-color);
}

.p-steps .p-steps-item.p-highlight .p-steps-title {
  font-weight: 700;
  color: var(--text-color);
}

.p-steps .p-steps-item:before {
  content: " ";
  border-top: 1px solid var(--surface-d);
  width: 100%;
  top: 50%;
  left: 0;
  display: block;
  position: absolute;
  margin-top: -1rem;
}
