.p-link {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  font-size: 1rem;
  border-radius: var(--border-radius);
}

.p-link:focus-visible {
  outline: 0 none;
  outline-offset: 0;
}
