.p-message {
  margin: 1rem 0;
  border-radius: var(--border-radius);
}

.p-message .p-message-wrapper {
  padding: 1.25rem 1.75rem;
}

.p-message .p-message-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-message .p-message-close:hover {
  background: rgba(255, 255, 255, 0.5);
}

.p-message .p-message-close:focus-visible {
  outline: 0 none;
  outline-offset: 0;
}

.p-message.p-message-info {
  background: rgba(219, 234, 254, 0.7);
  border: solid var(--primary-color);
  border-width: 0 0 0 6px;
  color: var(--primary-color);
}

.p-message.p-message-info .p-message-icon {
  color: var(--primary-color);
}

.p-message.p-message-info .p-message-close {
  color: var(--primary-color);
}

.p-message.p-message-success {
  background: rgba(228, 248, 240, 0.7);
  border: solid var(--green-500);
  border-width: 0 0 0 6px;
  color: var(--green-500);
}

.p-message.p-message-success .p-message-icon {
  color: var(--green-500);
}

.p-message.p-message-success .p-message-close {
  color: var(--green-500);
}

.p-message.p-message-warn {
  background: rgba(255, 242, 226, 0.7);
  border: solid var(--yellow-500);
  border-width: 0 0 0 6px;
  color: var(--yellow-500);
}

.p-message.p-message-warn .p-message-icon {
  color: var(--yellow-500);
}

.p-message.p-message-warn .p-message-close {
  color: var(--yellow-500);
}

.p-message.p-message-error {
  background: rgba(255, 231, 230, 0.7);
  border: solid var(--red-500);
  border-width: 0 0 0 6px;
  color: var(--red-500);
}

.p-message.p-message-error .p-message-icon {
  color: var(--red-500);
}

.p-message.p-message-error .p-message-close {
  color: var(--red-500);
}

.p-message .p-message-text {
  font-size: 1rem;
  font-weight: 500;
}

.p-message .p-message-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.p-message .p-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.p-message .p-message-summary {
  font-weight: 700;
}

.p-message .p-message-detail {
  margin-left: 0.5rem;
}
