.p-splitter {
  border: 1px solid var(--surface-d);
  background: var(--surface-a);
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.p-splitter .p-splitter-gutter {
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  background: var(--surface-b);
}

.p-splitter .p-splitter-gutter .p-splitter-gutter-handle {
  background: var(--surface-d);
}

.p-splitter .p-splitter-gutter .p-splitter-gutter-handle:focus-visible {
  outline: 0 none;
  outline-offset: 0;
}

.p-splitter .p-splitter-gutter-resizing {
  background: var(--surface-d);
}
