.p-tabview .p-tabview-nav-content {
  scroll-padding-inline: 3rem;
}

.p-tabview .p-tabview-nav {
  background: var(--surface-a);
  border: 1px solid var(--surface-d);
  border-width: 0 0 2px 0;
}

.p-tabview .p-tabview-nav li {
  margin-right: 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: solid var(--surface-d);
  border-width: 0 0 2px 0;
  border-color: transparent transparent var(--surface-d) transparent;
  background: var(--surface-a);
  color: var(--text-color-secondary);
  padding: 1.25rem;
  font-weight: 700;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  transition: box-shadow 0.2s;
  margin: 0 0 -2px 0;
}

.p-tabview
  .p-tabview-nav
  li
  .p-tabview-nav-link:not(.p-disabled):focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem var(--focus-ring);
}

.p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  background: var(--surface-a);
  border-color: var(--gray-400);
  color: var(--text-color-secondary);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: var(--surface-a);
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.p-tabview .p-tabview-left-icon {
  margin-right: 0.5rem;
}

.p-tabview .p-tabview-right-icon {
  margin-left: 0.5rem;
}

.p-tabview .p-tabview-close {
  margin-left: 0.5rem;
}

.p-tabview .p-tabview-nav-btn.p-link {
  background: var(--surface-a);
  color: var(--primary-color);
  width: 3rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

.p-tabview .p-tabview-nav-btn.p-link:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem var(--focus-ring);
}

.p-tabview .p-tabview-panels {
  background: var(--surface-a);
  padding: 1.25rem;
  border: 0 none;
  color: var(--text-color);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
