.p-tag {
  background: var(--primary-color);
  color: var(--primary-color-text);
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.25rem 0.4rem;
  border-radius: var(--border-radius);
}

.p-tag.p-tag-success {
  background-color: var(--green-500);
  color: var(--primary-color-text);
}

.p-tag.p-tag-info {
  background-color: var(--blue-500);
  color: var(--primary-color-text);
}

.p-tag.p-tag-warning {
  background-color: var(--orange-500);
  color: var(--primary-color-text);
}

.p-tag.p-tag-danger {
  background-color: var(--red-500);
  color: var(--primary-color-text);
}

.p-tag .p-tag-icon {
  margin-right: 0.25rem;
  font-size: 0.75rem;
}

.p-tag .p-icon {
  width: 0.75rem;
  height: 0.75rem;
}
