.p-toast {
  opacity: 1;
}

.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow: 0 2px 12px 0 var(--color-shadow);
  border-radius: var(--border-radius);
}

.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
  border-width: 0 0 0 6px;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}

.p-toast
  .p-toast-message
  .p-toast-message-content
  .p-icon:not(.p-toast-icon-close-icon) {
  width: 2rem;
  height: 2rem;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 700;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0;
}

.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: var(--surface-500);
}

.p-toast .p-toast-message .p-toast-icon-close:focus-visible {
  outline: 0 none;
  outline-offset: 0;
}

.p-toast .p-toast-message.p-toast-message-info {
  background: var(--surface-600);
  border: solid var(--blue-500);
  border-width: 0 0 0 6px;
  color: var(--blue-500);
}

.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: var(--blue-500);
}

.p-toast .p-toast-message.p-toast-message-success {
  background: var(--surface-600);
  border: solid var(--green-500);
  border-width: 0 0 0 6px;
  color: var(--green-500);
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: var(--green-500);
}

.p-toast .p-toast-message.p-toast-message-warn {
  background: var(--surface-600);
  border: solid var(--yellow-500);
  border-width: 0 0 0 6px;
  color: var(--yellow-500);
}

.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: var(--yellow-500);
}

.p-toast .p-toast-message.p-toast-message-error {
  background: var(--surface-600);
  border: solid var(--red-500);
  border-width: 0 0 0 6px;
  color: var(--red-500);
}

.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: var(--red-500);
}
