.p-button-label {
  font-weight: 700;
}

.p-selectbutton > .p-button,
.p-togglebutton.p-button {
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: var(--primary-color);
}

.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight button {
  background-color: var(--primary-color);
}

.p-button:focus {
  box-shadow: 0 0 0 2px var(--gray-50), 0 0 0 4px var(--primary-50),
    0 1px 2px 0 black;
}

.p-button.p-button-secondary:enabled:focus {
  box-shadow: 0 0 0 2px var(--gray-50), 0 0 0 4px var(--gray-200),
    0 1px 2px 0 black;
}

.p-button.p-button-success:enabled:focus {
  box-shadow: 0 0 0 2px var(--gray-50), 0 0 0 4px var(--green-200),
    0 1px 2px 0 black;
}

.p-button.p-button-info:enabled:focus {
  box-shadow: 0 0 0 2px var(--gray-50), 0 0 0 4px var(--blue-200),
    0 1px 2px 0 black;
}

.p-button.p-button-warning:enabled:focus {
  box-shadow: 0 0 0 2px var(--gray-50), 0 0 0 4px var(--orange-200),
    0 1px 2px 0 black;
}

.p-button.p-button-help:enabled:focus {
  box-shadow: 0 0 0 2px var(--gray-50), 0 0 0 4px var(--purple-200),
    0 1px 2px 0 black;
}

.p-button.p-button-danger:enabled:focus {
  box-shadow: 0 0 0 2px var(--gray-50), 0 0 0 4px var(--red-200),
    0 1px 2px 0 black;
}

.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-top > td {
  box-shadow: inset 0 2px 0 0 var(--primary-color);
}

.p-datatable .p-datatable-tbody > tr.p-datatable-dragpoint-bottom > td {
  box-shadow: inset 0 -2px 0 0 var(--primary-color);
}

.p-speeddial-item.p-focus > .p-speeddial-action {
  box-shadow: 0 0 0 2px var(--gray-50), 0 0 0 4px var(--primary-50),
    0 1px 2px 0 black;
}

.p-toast-message {
  backdrop-filter: blur(10px);
}

.p-inline-message-text {
  font-weight: 500;
}

.p-picklist-buttons .p-button,
.p-orderlist-controls .p-button {
  transition: opacity 0.2s, background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
  background: var(--primary-color);
  color: var(--primary-color-text);
}
