<div class="relative w-full">
  <div class="absolute surface-900 px-3 py-2 text-white border-round z-1" style="top: 0.5rem; right: -0.7rem; box-shadow: 3px 3px 0 white;">
    <span class="text-primary">R$</span> 45,00
  </div>
  <a routerLink="/sessions/1" class="inline-block no-underline">
    <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/9/9b/Avengers_Endgame.jpg/250px-Avengers_Endgame.jpg" alt="" draggable="false" class="w-full h-16rem md:h-20rem border-round" style="object-fit: cover;">
  </a>
  <div>
    <p class="text-sm text-gray-50 font-semibold md:text-lg m-0 overflow-hidden" style="white-space:nowrap; text-overflow: ellipsis;">
      Vingadores: UltimatoVingadores: Ultimato
    </p>
    <p class="text-sm mx-0 my-1 flex justify-content-between">
      <span class="text-gray-500">2h 29m</span>
      <span class="text-yellow-500">3D</span>
    </p>
    <p class="text-sm m-0 flex justify-content-between">
      <span class="text-primary">12/4 - 20:00</span>
      <span class="text-yellow-500">20 vagas</span>
    </p>
  </div>
</div>