<div class="w-full min-h-screen flex justify-content-center align-items-center surface-800">
  <form class="w-25rem p-6 flex flex-column align-items-stretch surface-700 border-round">
    <h1 class="text-2xl text-center text-white uppercase font-medium m-0">Login</h1>

    <label for="email" class="block text-white mt-4 mb-2">E-mail</label>
    <input pInputText type="email" id="email" name="email" class="p-inputtext-sm" placeholder="Digite seu e-mail" aria-label="E-mail">

    <label for="password" class="block text-white mt-4 mb-2">Senha</label>
    <input pInputText type="password" id="password" name="password" class="p-inputtext-sm" placeholder="Digite sua senha" aria-label="Senha">

    <a href="/forgot-password" class="block text-right text-sm mt-2 text-primary-400 hover:text-primary-600">Esqueci minha senha.</a>

    <button pButton label="Entrar" class="mt-4 uppercase cursor-pointer"></button>
    <a href="/" pButton label="Página Inicial" class="p-button-outlined mt-4 uppercase cursor-pointer no-underline"></a>

    <span class="text-sm text-center text-gray-400 mt-4">
      Ainda não é cadastrado? <a href="/signup" class="text-primary-400 hover:text-primary-600">Cadastre-se.</a>
    </span>
  </form>
</div>