<div class="w-full min-h-screen flex flex-column justify-content-center align-items-center surface-800">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full flex-1 p-6 flex flex-column justify-content-center lign-items-stretch surface-700 sm:w-30rem sm:flex-initial sm:border-round">
    <h1 class="text-2xl text-center text-gray-300 uppercase font-medium m-0">Login</h1>

    <div class="mt-5">
      <label for="email" class="inline-block text-white mb-2">E-mail</label>
      <input pInputText type="email" id="email" name="email" autocomplete="off" class="w-full" placeholder="example@cinedev.com" formControlName="email" aria-label="Compo para email">
      @if (loginFormSubmitted && loginForm.get('email')?.errors) {
      <small class="inline-block mt-2 text-red-500">Preencha com um e-mail válido.</small>
      } @else if (loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')) {
      <small class="inline-block mt-2 text-red-500">Este campo é obrigatório.</small>
      }
    </div>

    <div class="mt-3">
      <label for="password" class="inline-block text-white mb-2">Senha</label>
      <input pInputText type="password" id="password" name="password" autocomplete="off" class="w-full" placeholder="Digite sua senha" formControlName="password" aria-label="Campo para senha">
      @if (loginFormSubmitted && loginForm.get('password')?.errors) {
      <small class="inline-block mt-2 text-red-500">Preencha com uma senha válida.</small>
      } @else if (loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')) {
      <small class="inline-block mt-2 text-red-500">Este campo é obrigatório.</small>
      }
    </div>

    <a href="/forgot-password" class="block text-right text-sm mt-2 text-primary-400 hover:text-primary-600">Esqueci minha senha.</a>

    <button pButton type="submit" label="Entrar" class="mt-4 uppercase"></button>

    <a href="/" class="mt-4">
      <p-button label="Página Inicial" [outlined]="true" [styleClass]="'w-full uppercase'"></p-button>
    </a>

    <span class="text-sm text-center text-gray-400 mt-4">
      Ainda não é cadastrado? <a href="/signup" class="text-primary-400 hover:text-primary-600">Cadastre-se.</a>
    </span>
  </form>
</div>