.p-button {
  color: var(--primary-color-text);
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: var(--border-radius);
}

.p-button:not(:disabled):hover {
  background: var(--primary-500);
  color: var(--primary-color-text);
  border-color: var(--primary-500);
}

.p-button:not(:disabled):active {
  background: var(--highlight-text-color);
  color: var(--primary-color-text);
  border-color: var(--highlight-text-color);
}

.p-button.p-button-outlined {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid;
}

.p-button.p-button-outlined:not(:disabled):hover {
  background: var(--bg-button-hover);
  color: var(--primary-color);
  border: 2px solid;
}

.p-button.p-button-outlined:not(:disabled):active {
  background: var(--bg-button-active);
  color: var(--primary-color);
  border: 2px solid;
}

.p-button.p-button-outlined.p-button-plain {
  color: var(--text-color-secondary);
  border-color: var(--gray-500);
}

.p-button.p-button-outlined.p-button-plain:not(:disabled):hover {
  background: var(--surface-c);
  color: var(--text-color-secondary);
}

.p-button.p-button-outlined.p-button-plain:not(:disabled):active {
  background: var(--surface-d);
  color: var(--text-color-secondary);
}

.p-button.p-button-text {
  background-color: transparent;
  color: var(--primary-color);
  border-color: transparent;
}

.p-button.p-button-text:not(:disabled):hover {
  background: var(--bg-button-hover);
  color: var(--primary-color);
  border-color: transparent;
}

.p-button.p-button-text:not(:disabled):active {
  background: var(--bg-button-active);
  color: var(--primary-color);
  border-color: transparent;
}

.p-button.p-button-text.p-button-plain {
  color: var(--text-color-secondary);
}

.p-button.p-button-text.p-button-plain:not(:disabled):hover {
  background: var(--surface-c);
  color: var(--text-color-secondary);
}

.p-button.p-button-text.p-button-plain:not(:disabled):active {
  background: var(--surface-d);
  color: var(--text-color-secondary);
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
}

.p-button .p-button-label {
  transition-duration: 0.2s;
}

.p-button .p-button-icon-left {
  margin-right: 0.5rem;
}

.p-button .p-button-icon-right {
  margin-left: 0.5rem;
}

.p-button .p-button-icon-bottom {
  margin-top: 0.5rem;
}

.p-button .p-button-icon-top {
  margin-bottom: 0.5rem;
}

.p-button .p-badge {
  margin-left: 0.5rem;
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
  color: var(--primary-color);
  background-color: var(--surface-a);
}

.p-button.p-button-raised {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.p-button.p-button-rounded {
  border-radius: 2rem;
}

.p-button.p-button-icon-only {
  width: 3rem;
  padding: 0.75rem 0;
}

.p-button.p-button-icon-only .p-button-icon-left,
.p-button.p-button-icon-only .p-button-icon-right {
  margin: 0;
}

.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 3rem;
}

.p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.65625rem 1.09375rem;
}

.p-button.p-button-sm .p-button-icon {
  font-size: 0.875rem;
}

.p-button.p-button-lg {
  font-size: 1.25rem;
  padding: 0.9375rem 1.5625rem;
}

.p-button.p-button-lg .p-button-icon {
  font-size: 1.25rem;
}

.p-button.p-button-loading-label-only .p-button-label {
  margin-left: 0.5rem;
}

.p-button.p-button-loading-label-only .p-button-loading-icon {
  margin-right: 0;
}

.p-fluid .p-button {
  width: 100%;
}

.p-fluid .p-button-icon-only {
  width: 3rem;
}

.p-fluid .p-buttonset {
  display: flex;
}

.p-fluid .p-buttonset .p-button {
  flex: 1;
}

.p-button.p-button-secondary,
.p-buttonset.p-button-secondary > .p-button,
.p-splitbutton.p-button-secondary > .p-button {
  color: var(--primary-color-text);
  background: var(--bluegray-500);
  border: 2px solid var(--bluegray-500);
}

.p-button.p-button-secondary:not(:disabled):hover,
.p-buttonset.p-button-secondary > .p-button:not(:disabled):hover,
.p-splitbutton.p-button-secondary > .p-button:not(:disabled):hover {
  background: var(--bluegray-600);
  color: var(--primary-color-text);
  border-color: var(--bluegray-600);
}

.p-button.p-button-secondary:not(:disabled):focus,
.p-buttonset.p-button-secondary > .p-button:not(:disabled):focus,
.p-splitbutton.p-button-secondary > .p-button:not(:disabled):focus {
  box-shadow: 0 0 0 0.2rem var(--focus-ring);
}

.p-button.p-button-secondary:not(:disabled):active,
.p-buttonset.p-button-secondary > .p-button:not(:disabled):active,
.p-splitbutton.p-button-secondary > .p-button:not(:disabled):active {
  background: var(--bluegray-700);
  color: var(--primary-color-text);
  border-color: var(--bluegray-700);
}

.p-button.p-button-secondary.p-button-outlined,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--bluegray-500);
  border: 2px solid;
}

.p-button.p-button-secondary.p-button-outlined:not(:disabled):hover,
.p-buttonset.p-button-secondary
  > .p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-secondary
  > .p-button.p-button-outlined:not(:disabled):hover {
  background: rgba(100, 116, 139, 0.04);
  color: var(--bluegray-500);
  border: 2px solid;
}

.p-button.p-button-secondary.p-button-outlined:not(:disabled):active,
.p-buttonset.p-button-secondary
  > .p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-secondary
  > .p-button.p-button-outlined:not(:disabled):active {
  background: rgba(100, 116, 139, 0.16);
  color: var(--bluegray-500);
  border: 2px solid;
}

.p-button.p-button-secondary.p-button-text,
.p-buttonset.p-button-secondary > .p-button.p-button-text,
.p-splitbutton.p-button-secondary > .p-button.p-button-text {
  background-color: transparent;
  color: var(--bluegray-500);
  border-color: transparent;
}

.p-button.p-button-secondary.p-button-text:not(:disabled):hover,
.p-buttonset.p-button-secondary > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-secondary
  > .p-button.p-button-text:not(:disabled):hover {
  background: rgba(100, 116, 139, 0.04);
  border-color: transparent;
  color: var(--bluegray-500);
}

.p-button.p-button-secondary.p-button-text:not(:disabled):active,
.p-buttonset.p-button-secondary > .p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-secondary
  > .p-button.p-button-text:not(:disabled):active {
  background: rgba(100, 116, 139, 0.16);
  border-color: transparent;
  color: var(--bluegray-500);
}

.p-button.p-button-info,
.p-buttonset.p-button-info > .p-button,
.p-splitbutton.p-button-info > .p-button {
  color: var(--primary-color-text);
  background: var(--primary-500);
  border: 2px solid var(--primary-500);
}

.p-button.p-button-info:not(:disabled):hover,
.p-buttonset.p-button-info > .p-button:not(:disabled):hover,
.p-splitbutton.p-button-info > .p-button:not(:disabled):hover {
  background: var(--primary-600);
  color: var(--primary-color-text);
  border-color: var(--primary-600);
}

.p-button.p-button-info:not(:disabled):active,
.p-buttonset.p-button-info > .p-button:not(:disabled):active,
.p-splitbutton.p-button-info > .p-button:not(:disabled):active {
  background: var(--primary-700);
  color: var(--primary-color-text);
  border-color: var(--primary-700);
}

.p-button.p-button-info.p-button-outlined,
.p-buttonset.p-button-info > .p-button.p-button-outlined,
.p-splitbutton.p-button-info > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--primary-500);
  border: 2px solid;
}

.p-button.p-button-info.p-button-outlined:not(:disabled):hover,
.p-buttonset.p-button-info > .p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-info
  > .p-button.p-button-outlined:not(:disabled):hover {
  background: rgba(14, 165, 233, 0.04);
  color: var(--primary-500);
  border: 2px solid;
}

.p-button.p-button-info.p-button-outlined:not(:disabled):active,
.p-buttonset.p-button-info > .p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-info
  > .p-button.p-button-outlined:not(:disabled):active {
  background: rgba(14, 165, 233, 0.16);
  color: var(--primary-500);
  border: 2px solid;
}

.p-button.p-button-info.p-button-text,
.p-buttonset.p-button-info > .p-button.p-button-text,
.p-splitbutton.p-button-info > .p-button.p-button-text {
  background-color: transparent;
  color: var(--primary-500);
  border-color: transparent;
}

.p-button.p-button-info.p-button-text:not(:disabled):hover,
.p-buttonset.p-button-info > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-info > .p-button.p-button-text:not(:disabled):hover {
  background: rgba(14, 165, 233, 0.04);
  border-color: transparent;
  color: var(--primary-500);
}

.p-button.p-button-info.p-button-text:not(:disabled):active,
.p-buttonset.p-button-info > .p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-info > .p-button.p-button-text:not(:disabled):active {
  background: rgba(14, 165, 233, 0.16);
  border-color: transparent;
  color: var(--primary-500);
}

.p-button.p-button-success,
.p-buttonset.p-button-success > .p-button,
.p-splitbutton.p-button-success > .p-button {
  color: var(--primary-color-text);
  background: var(--green-500);
  border: 2px solid var(--green-500);
}

.p-button.p-button-success:not(:disabled):hover,
.p-buttonset.p-button-success > .p-button:not(:disabled):hover,
.p-splitbutton.p-button-success > .p-button:not(:disabled):hover {
  background: var(--green-600);
  color: var(--primary-color-text);
  border-color: var(--green-600);
}

.p-button.p-button-success:not(:disabled):active,
.p-buttonset.p-button-success > .p-button:not(:disabled):active,
.p-splitbutton.p-button-success > .p-button:not(:disabled):active {
  background: var(--green-700);
  color: var(--primary-color-text);
  border-color: var(--green-700);
}

.p-button.p-button-success.p-button-outlined,
.p-buttonset.p-button-success > .p-button.p-button-outlined,
.p-splitbutton.p-button-success > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--green-500);
  border: 2px solid;
}

.p-button.p-button-success.p-button-outlined:not(:disabled):hover,
.p-buttonset.p-button-success
  > .p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-success
  > .p-button.p-button-outlined:not(:disabled):hover {
  background: rgba(34, 197, 94, 0.04);
  color: var(--green-500);
  border: 2px solid;
}

.p-button.p-button-success.p-button-outlined:not(:disabled):active,
.p-buttonset.p-button-success
  > .p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-success
  > .p-button.p-button-outlined:not(:disabled):active {
  background: rgba(34, 197, 94, 0.16);
  color: var(--green-500);
  border: 2px solid;
}

.p-button.p-button-success.p-button-text,
.p-buttonset.p-button-success > .p-button.p-button-text,
.p-splitbutton.p-button-success > .p-button.p-button-text {
  background-color: transparent;
  color: var(--green-500);
  border-color: transparent;
}

.p-button.p-button-success.p-button-text:not(:disabled):hover,
.p-buttonset.p-button-success > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-success > .p-button.p-button-text:not(:disabled):hover {
  background: rgba(34, 197, 94, 0.04);
  border-color: transparent;
  color: var(--green-500);
}

.p-button.p-button-success.p-button-text:not(:disabled):active,
.p-buttonset.p-button-success > .p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-success
  > .p-button.p-button-text:not(:disabled):active {
  background: rgba(34, 197, 94, 0.16);
  border-color: transparent;
  color: var(--green-500);
}

.p-button.p-button-warning,
.p-buttonset.p-button-warning > .p-button,
.p-splitbutton.p-button-warning > .p-button {
  color: var(--primary-color-text);
  background: var(--orange-500);
  border: 2px solid var(--orange-500);
}

.p-button.p-button-warning:not(:disabled):hover,
.p-buttonset.p-button-warning > .p-button:not(:disabled):hover,
.p-splitbutton.p-button-warning > .p-button:not(:disabled):hover {
  background: var(--orange-600);
  color: var(--primary-color-text);
  border-color: var(--orange-600);
}

.p-button.p-button-warning:not(:disabled):active,
.p-buttonset.p-button-warning > .p-button:not(:disabled):active,
.p-splitbutton.p-button-warning > .p-button:not(:disabled):active {
  background: var(--orange-700);
  color: var(--primary-color-text);
  border-color: var(--orange-700);
}

.p-button.p-button-warning.p-button-outlined,
.p-buttonset.p-button-warning > .p-button.p-button-outlined,
.p-splitbutton.p-button-warning > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--orange-500);
  border: 2px solid;
}

.p-button.p-button-warning.p-button-outlined:not(:disabled):hover,
.p-buttonset.p-button-warning
  > .p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-warning
  > .p-button.p-button-outlined:not(:disabled):hover {
  background: rgba(249, 115, 22, 0.04);
  color: var(--orange-500);
  border: 2px solid;
}

.p-button.p-button-warning.p-button-outlined:not(:disabled):active,
.p-buttonset.p-button-warning
  > .p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-warning
  > .p-button.p-button-outlined:not(:disabled):active {
  background: rgba(249, 115, 22, 0.16);
  color: var(--orange-500);
  border: 2px solid;
}

.p-button.p-button-warning.p-button-text,
.p-buttonset.p-button-warning > .p-button.p-button-text,
.p-splitbutton.p-button-warning > .p-button.p-button-text {
  background-color: transparent;
  color: var(--orange-500);
  border-color: transparent;
}

.p-button.p-button-warning.p-button-text:not(:disabled):hover,
.p-buttonset.p-button-warning > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-warning > .p-button.p-button-text:not(:disabled):hover {
  background: rgba(249, 115, 22, 0.04);
  border-color: transparent;
  color: var(--orange-500);
}

.p-button.p-button-warning.p-button-text:not(:disabled):active,
.p-buttonset.p-button-warning > .p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-warning
  > .p-button.p-button-text:not(:disabled):active {
  background: rgba(249, 115, 22, 0.16);
  border-color: transparent;
  color: var(--orange-500);
}

.p-button.p-button-help,
.p-buttonset.p-button-help > .p-button,
.p-splitbutton.p-button-help > .p-button {
  color: var(--primary-color-text);
  background: var(--purple-500);
  border: 2px solid var(--purple-500);
}

.p-button.p-button-help:not(:disabled):hover,
.p-buttonset.p-button-help > .p-button:not(:disabled):hover,
.p-splitbutton.p-button-help > .p-button:not(:disabled):hover {
  background: var(--purple-600);
  color: var(--primary-color-text);
  border-color: var(--purple-600);
}

.p-button.p-button-help:not(:disabled):active,
.p-buttonset.p-button-help > .p-button:not(:disabled):active,
.p-splitbutton.p-button-help > .p-button:not(:disabled):active {
  background: var(--purple-700);
  color: var(--primary-color-text);
  border-color: var(--purple-700);
}

.p-button.p-button-help.p-button-outlined,
.p-buttonset.p-button-help > .p-button.p-button-outlined,
.p-splitbutton.p-button-help > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--purple-500);
  border: 2px solid;
}

.p-button.p-button-help.p-button-outlined:not(:disabled):hover,
.p-buttonset.p-button-help > .p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-help
  > .p-button.p-button-outlined:not(:disabled):hover {
  background: rgba(168, 85, 247, 0.04);
  color: var(--purple-500);
  border: 2px solid;
}

.p-button.p-button-help.p-button-outlined:not(:disabled):active,
.p-buttonset.p-button-help > .p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-help
  > .p-button.p-button-outlined:not(:disabled):active {
  background: rgba(168, 85, 247, 0.16);
  color: var(--purple-500);
  border: 2px solid;
}

.p-button.p-button-help.p-button-text,
.p-buttonset.p-button-help > .p-button.p-button-text,
.p-splitbutton.p-button-help > .p-button.p-button-text {
  background-color: transparent;
  color: var(--purple-500);
  border-color: transparent;
}

.p-button.p-button-help.p-button-text:not(:disabled):hover,
.p-buttonset.p-button-help > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-help > .p-button.p-button-text:not(:disabled):hover {
  background: rgba(168, 85, 247, 0.04);
  border-color: transparent;
  color: var(--purple-500);
}

.p-button.p-button-help.p-button-text:not(:disabled):active,
.p-buttonset.p-button-help > .p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-help > .p-button.p-button-text:not(:disabled):active {
  background: rgba(168, 85, 247, 0.16);
  border-color: transparent;
  color: var(--purple-500);
}

.p-button.p-button-danger,
.p-buttonset.p-button-danger > .p-button,
.p-splitbutton.p-button-danger > .p-button {
  color: var(--primary-color-text);
  background: var(--red-500);
  border: 2px solid var(--red-500);
}

.p-button.p-button-danger:not(:disabled):hover,
.p-buttonset.p-button-danger > .p-button:not(:disabled):hover,
.p-splitbutton.p-button-danger > .p-button:not(:disabled):hover {
  background: var(--red-600);
  color: var(--primary-color-text);
  border-color: var(--red-600);
}

.p-button.p-button-danger:not(:disabled):focus,
.p-buttonset.p-button-danger > .p-button:not(:disabled):focus,
.p-splitbutton.p-button-danger > .p-button:not(:disabled):focus {
  box-shadow: 0 0 0 0.2rem var(--focus-ring);
}

.p-button.p-button-danger:not(:disabled):active,
.p-buttonset.p-button-danger > .p-button:not(:disabled):active,
.p-splitbutton.p-button-danger > .p-button:not(:disabled):active {
  background: var(--red-700);
  color: var(--primary-color-text);
  border-color: var(--red-700);
}

.p-button.p-button-danger.p-button-outlined,
.p-buttonset.p-button-danger > .p-button.p-button-outlined,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--red-500);
  border: 2px solid;
}

.p-button.p-button-danger.p-button-outlined:not(:disabled):hover,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:not(:disabled):hover,
.p-splitbutton.p-button-danger
  > .p-button.p-button-outlined:not(:disabled):hover {
  background: rgba(239, 68, 68, 0.04);
  color: var(--red-500);
  border: 2px solid;
}

.p-button.p-button-danger.p-button-outlined:not(:disabled):active,
.p-buttonset.p-button-danger
  > .p-button.p-button-outlined:not(:disabled):active,
.p-splitbutton.p-button-danger
  > .p-button.p-button-outlined:not(:disabled):active {
  background: rgba(239, 68, 68, 0.16);
  color: var(--red-500);
  border: 2px solid;
}

.p-button.p-button-danger.p-button-text,
.p-buttonset.p-button-danger > .p-button.p-button-text,
.p-splitbutton.p-button-danger > .p-button.p-button-text {
  background-color: transparent;
  color: var(--red-500);
  border-color: transparent;
}

.p-button.p-button-danger.p-button-text:not(:disabled):hover,
.p-buttonset.p-button-danger > .p-button.p-button-text:not(:disabled):hover,
.p-splitbutton.p-button-danger > .p-button.p-button-text:not(:disabled):hover {
  background: rgba(239, 68, 68, 0.04);
  border-color: transparent;
  color: var(--red-500);
}

.p-button.p-button-danger.p-button-text:not(:disabled):active,
.p-buttonset.p-button-danger > .p-button.p-button-text:not(:disabled):active,
.p-splitbutton.p-button-danger > .p-button.p-button-text:not(:disabled):active {
  background: rgba(239, 68, 68, 0.16);
  border-color: transparent;
  color: var(--red-500);
}

.p-button.p-button-link {
  color: var(--highlight-text-color);
  background: transparent;
  border: transparent;
}

.p-button.p-button-link:not(:disabled):hover {
  background: transparent;
  color: var(--highlight-text-color);
  border-color: transparent;
}

.p-button.p-button-link:not(:disabled):hover .p-button-label {
  text-decoration: underline;
}

.p-button.p-button-link:not(:disabled):focus {
  background: transparent;
  border-color: transparent;
}

.p-button.p-button-link:not(:disabled):active {
  background: transparent;
  color: var(--highlight-text-color);
  border-color: transparent;
}

.p-speeddial-button.p-button.p-button-icon-only {
  width: 4rem;
  height: 4rem;
}

.p-speeddial-button.p-button.p-button-icon-only .p-button-icon {
  font-size: 1.3rem;
}

.p-speeddial-button.p-button.p-button-icon-only .p-icon {
  width: 1.3rem;
  height: 1.3rem;
}

.p-speeddial-list {
  outline: 0 none;
}

.p-speeddial-item.p-focus > .p-speeddial-action {
  outline: 0 none;
  outline-offset: 0;
}

.p-speeddial-action {
  width: 3rem;
  height: 3rem;
  background: var(--text-color);
  color: #fff;
}

.p-speeddial-action:hover {
  background: #022354;
  color: #fff;
}

.p-speeddial-direction-up .p-speeddial-item {
  margin: 0.25rem 0;
}

.p-speeddial-direction-up .p-speeddial-item:first-child {
  margin-bottom: 0.5rem;
}

.p-speeddial-direction-down .p-speeddial-item {
  margin: 0.25rem 0;
}

.p-speeddial-direction-down .p-speeddial-item:first-child {
  margin-top: 0.5rem;
}

.p-speeddial-direction-left .p-speeddial-item {
  margin: 0 0.25rem;
}

.p-speeddial-direction-left .p-speeddial-item:first-child {
  margin-right: 0.5rem;
}

.p-speeddial-direction-right .p-speeddial-item {
  margin: 0 0.25rem;
}

.p-speeddial-direction-right .p-speeddial-item:first-child {
  margin-left: 0.5rem;
}

.p-speeddial-circle .p-speeddial-item,
.p-speeddial-semi-circle .p-speeddial-item,
.p-speeddial-quarter-circle .p-speeddial-item {
  margin: 0;
}

.p-speeddial-circle .p-speeddial-item:first-child,
.p-speeddial-circle .p-speeddial-item:last-child,
.p-speeddial-semi-circle .p-speeddial-item:first-child,
.p-speeddial-semi-circle .p-speeddial-item:last-child,
.p-speeddial-quarter-circle .p-speeddial-item:first-child,
.p-speeddial-quarter-circle .p-speeddial-item:last-child {
  margin: 0;
}

.p-speeddial-mask {
  background-color: rgba(0, 0, 0, 0.4);
}

.p-splitbutton {
  border-radius: var(--border-radius);
}

.p-splitbutton.p-button-outlined > .p-button {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid;
}

.p-splitbutton.p-button-outlined > .p-button:not(:disabled):hover {
  background: var(--bg-button-hover);
  color: var(--primary-color);
}

.p-splitbutton.p-button-outlined > .p-button:not(:disabled):active {
  background: var(--bg-button-active);
  color: var(--primary-color);
}

.p-splitbutton.p-button-outlined.p-button-plain > .p-button {
  color: var(--text-color-secondary);
  border-color: var(--gray-500);
}

.p-splitbutton.p-button-outlined.p-button-plain
  > .p-button:not(:disabled):hover {
  background: var(--surface-c);
  color: var(--text-color-secondary);
}

.p-splitbutton.p-button-outlined.p-button-plain
  > .p-button:not(:disabled):active {
  background: var(--surface-d);
  color: var(--text-color-secondary);
}

.p-splitbutton.p-button-text > .p-button {
  background-color: transparent;
  color: var(--primary-color);
  border-color: transparent;
}

.p-splitbutton.p-button-text > .p-button:not(:disabled):hover {
  background: var(--bg-button-hover);
  color: var(--primary-color);
  border-color: transparent;
}

.p-splitbutton.p-button-text > .p-button:not(:disabled):active {
  background: var(--bg-button-active);
  color: var(--primary-color);
  border-color: transparent;
}

.p-splitbutton.p-button-text.p-button-plain > .p-button {
  color: var(--text-color-secondary);
}

.p-splitbutton.p-button-text.p-button-plain > .p-button:not(:disabled):hover {
  background: var(--surface-c);
  color: var(--text-color-secondary);
}

.p-splitbutton.p-button-text.p-button-plain > .p-button:not(:disabled):active {
  background: var(--surface-d);
  color: var(--text-color-secondary);
}

.p-splitbutton.p-button-raised {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.p-splitbutton.p-button-rounded {
  border-radius: 2rem;
}

.p-splitbutton.p-button-rounded > .p-button {
  border-radius: 2rem;
}

.p-splitbutton.p-button-sm > .p-button {
  font-size: 0.875rem;
  padding: 0.65625rem 1.09375rem;
}

.p-splitbutton.p-button-sm > .p-button .p-button-icon {
  font-size: 0.875rem;
}

.p-splitbutton.p-button-lg > .p-button {
  font-size: 1.25rem;
  padding: 0.9375rem 1.5625rem;
}

.p-splitbutton.p-button-lg > .p-button .p-button-icon {
  font-size: 1.25rem;
}

.p-splitbutton.p-button-secondary.p-button-outlined > .p-button {
  background-color: transparent;
  color: var(--bluegray-500);
  border: 2px solid;
}

.p-splitbutton.p-button-secondary.p-button-outlined
  > .p-button:not(:disabled):hover {
  background: rgba(100, 116, 139, 0.04);
  color: var(--bluegray-500);
}

.p-splitbutton.p-button-secondary.p-button-outlined
  > .p-button:not(:disabled):active {
  background: rgba(100, 116, 139, 0.16);
  color: var(--bluegray-500);
}

.p-splitbutton.p-button-secondary.p-button-text > .p-button {
  background-color: transparent;
  color: var(--bluegray-500);
  border-color: transparent;
}

.p-splitbutton.p-button-secondary.p-button-text
  > .p-button:not(:disabled):hover {
  background: rgba(100, 116, 139, 0.04);
  border-color: transparent;
  color: var(--bluegray-500);
}

.p-splitbutton.p-button-secondary.p-button-text
  > .p-button:not(:disabled):active {
  background: rgba(100, 116, 139, 0.16);
  border-color: transparent;
  color: var(--bluegray-500);
}

.p-splitbutton.p-button-info.p-button-outlined > .p-button {
  background-color: transparent;
  color: var(--blue-500);
  border: 2px solid;
}

.p-splitbutton.p-button-info.p-button-outlined
  > .p-button:not(:disabled):hover {
  background: rgba(14, 165, 233, 0.04);
  color: var(--blue-500);
}

.p-splitbutton.p-button-info.p-button-outlined
  > .p-button:not(:disabled):active {
  background: rgba(14, 165, 233, 0.16);
  color: var(--blue-500);
}

.p-splitbutton.p-button-info.p-button-text > .p-button {
  background-color: transparent;
  color: var(--blue-500);
  border-color: transparent;
}

.p-splitbutton.p-button-info.p-button-text > .p-button:not(:disabled):hover {
  background: rgba(14, 165, 233, 0.04);
  border-color: transparent;
  color: var(--blue-500);
}

.p-splitbutton.p-button-info.p-button-text > .p-button:not(:disabled):active {
  background: rgba(14, 165, 233, 0.16);
  border-color: transparent;
  color: var(--blue-500);
}

.p-splitbutton.p-button-success.p-button-outlined > .p-button {
  background-color: transparent;
  color: var(--green-500);
  border: 2px solid;
}

.p-splitbutton.p-button-success.p-button-outlined
  > .p-button:not(:disabled):hover {
  background: rgba(34, 197, 94, 0.04);
  color: var(--green-500);
}

.p-splitbutton.p-button-success.p-button-outlined
  > .p-button:not(:disabled):active {
  background: rgba(34, 197, 94, 0.16);
  color: var(--green-500);
}

.p-splitbutton.p-button-success.p-button-text > .p-button {
  background-color: transparent;
  color: var(--green-500);
  border-color: transparent;
}

.p-splitbutton.p-button-success.p-button-text > .p-button:not(:disabled):hover {
  background: rgba(34, 197, 94, 0.04);
  border-color: transparent;
  color: var(--green-500);
}

.p-splitbutton.p-button-success.p-button-text
  > .p-button:not(:disabled):active {
  background: rgba(34, 197, 94, 0.16);
  border-color: transparent;
  color: var(--green-500);
}

.p-splitbutton.p-button-warning.p-button-outlined > .p-button {
  background-color: transparent;
  color: var(--orange-500);
  border: 2px solid;
}

.p-splitbutton.p-button-warning.p-button-outlined
  > .p-button:not(:disabled):hover {
  background: rgba(249, 115, 22, 0.04);
  color: var(--orange-500);
}

.p-splitbutton.p-button-warning.p-button-outlined
  > .p-button:not(:disabled):active {
  background: rgba(249, 115, 22, 0.16);
  color: var(--orange-500);
}

.p-splitbutton.p-button-warning.p-button-text > .p-button {
  background-color: transparent;
  color: var(--orange-500);
  border-color: transparent;
}

.p-splitbutton.p-button-warning.p-button-text > .p-button:not(:disabled):hover {
  background: rgba(249, 115, 22, 0.04);
  border-color: transparent;
  color: var(--orange-500);
}

.p-splitbutton.p-button-warning.p-button-text
  > .p-button:not(:disabled):active {
  background: rgba(249, 115, 22, 0.16);
  border-color: transparent;
  color: var(--orange-500);
}

.p-splitbutton.p-button-help.p-button-outlined > .p-button {
  background-color: transparent;
  color: var(--purple-500);
  border: 2px solid;
}

.p-splitbutton.p-button-help.p-button-outlined
  > .p-button:not(:disabled):hover {
  background: rgba(168, 85, 247, 0.04);
  color: var(--purple-500);
}

.p-splitbutton.p-button-help.p-button-outlined
  > .p-button:not(:disabled):active {
  background: rgba(168, 85, 247, 0.16);
  color: var(--purple-500);
}

.p-splitbutton.p-button-help.p-button-text > .p-button {
  background-color: transparent;
  color: var(--purple-500);
  border-color: transparent;
}

.p-splitbutton.p-button-help.p-button-text > .p-button:not(:disabled):hover {
  background: rgba(168, 85, 247, 0.04);
  border-color: transparent;
  color: var(--purple-500);
}

.p-splitbutton.p-button-help.p-button-text > .p-button:not(:disabled):active {
  background: rgba(168, 85, 247, 0.16);
  border-color: transparent;
  color: var(--purple-500);
}

.p-splitbutton.p-button-danger.p-button-outlined > .p-button {
  background-color: transparent;
  color: var(--red-500);
  border: 2px solid;
}

.p-splitbutton.p-button-danger.p-button-outlined
  > .p-button:not(:disabled):hover {
  background: rgba(239, 68, 68, 0.04);
  color: var(--red-500);
}

.p-splitbutton.p-button-danger.p-button-outlined
  > .p-button:not(:disabled):active {
  background: rgba(239, 68, 68, 0.16);
  color: var(--red-500);
}

.p-splitbutton.p-button-danger.p-button-text > .p-button {
  background-color: transparent;
  color: var(--red-500);
  border-color: transparent;
}

.p-splitbutton.p-button-danger.p-button-text > .p-button:not(:disabled):hover {
  background: rgba(239, 68, 68, 0.04);
  border-color: transparent;
  color: var(--red-500);
}

.p-splitbutton.p-button-danger.p-button-text > .p-button:not(:disabled):active {
  background: rgba(239, 68, 68, 0.16);
  border-color: transparent;
  color: var(--red-500);
}
