.p-cascadeselect {
  background: var(--surface-a);
  border: 1px solid var(--gray-300);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: var(--border-radius);
}

.p-cascadeselect:not(.p-disabled):hover {
  border-color: var(--primary-color);
}

.p-cascadeselect:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  border-color: var(--primary-color);
}

.p-cascadeselect .p-cascadeselect-label {
  background: transparent;
  border: 0 none;
  padding: 0.75rem 0.75rem;
}

.p-cascadeselect .p-cascadeselect-label.p-placeholder {
  color: var(--text-color-secondary);
}

.p-cascadeselect .p-cascadeselect-label:enabled:focus {
  outline: 0 none;
  box-shadow: none;
}

.p-cascadeselect .p-cascadeselect-trigger {
  background: transparent;
  color: var(--text-color-secondary);
  width: 3rem;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.p-cascadeselect.p-invalid.p-component {
  border-color: var(--red-500);
}

.p-cascadeselect-panel {
  background: var(--surface-a);
  color: var(--text-color);
  border: 0 none;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 12px 0 var(--color-shadow);
}

.p-cascadeselect-panel .p-cascadeselect-items {
  padding: 0.75rem 0;
}

.p-cascadeselect-panel .p-cascadeselect-items .p-cascadeselect-item {
  margin: 0;
  border: 0 none;
  color: var(--text-color);
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
}

.p-cascadeselect-panel
  .p-cascadeselect-items
  .p-cascadeselect-item.p-highlight {
  color: var(--highlight-text-color);
  background: var(--highlight-bg);
}

.p-cascadeselect-panel
  .p-cascadeselect-items
  .p-cascadeselect-item.p-highlight.p-focus {
  background: var(--surface-popup);
}

.p-cascadeselect-panel
  .p-cascadeselect-items
  .p-cascadeselect-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: var(--text-color);
  background: var(--surface-d);
}

.p-cascadeselect-panel
  .p-cascadeselect-items
  .p-cascadeselect-item:not(.p-highlight):not(.p-disabled):hover {
  color: var(--text-color);
  background: var(--surface-c);
}

.p-cascadeselect-panel
  .p-cascadeselect-items
  .p-cascadeselect-item
  .p-cascadeselect-item-content {
  padding: 0.75rem 1.25rem;
}

.p-cascadeselect-panel
  .p-cascadeselect-items
  .p-cascadeselect-item
  .p-cascadeselect-group-icon {
  font-size: 0.875rem;
}

.p-input-filled .p-cascadeselect {
  background: var(--surface-c);
}

.p-input-filled .p-cascadeselect:not(.p-disabled):hover {
  background-color: var(--surface-c);
}

.p-input-filled .p-cascadeselect:not(.p-disabled).p-focus {
  background-color: var(--surface-a);
}

p-cascadeselect.ng-dirty.ng-invalid > .p-cascadeselect {
  border-color: var(--red-500);
}

p-cascadeselect.p-cascadeselect-clearable .p-cascadeselect-label {
  padding-right: 0.75rem;
}
p-cascadeselect.p-cascadeselect-clearable .p-cascadeselect-clear-icon {
  color: var(--text-color-secondary);
  right: 3rem;
}
