p-inputnumber.ng-dirty.ng-invalid > .p-inputnumber > .p-inputtext {
  border-color: var(--red-500);
}

p-inputnumber.p-inputnumber-clearable .p-inputnumber-input {
  padding-right: 2.5rem;
}
p-inputnumber.p-inputnumber-clearable .p-inputnumber-clear-icon {
  color: var(--text-color-secondary);
  right: 0.75rem;
}

p-inputnumber.p-inputnumber-clearable
  .p-inputnumber-buttons-stacked
  .p-inputnumber-clear-icon {
  right: 3.75rem;
}
p-inputnumber.p-inputnumber-clearable
  .p-inputnumber-buttons-horizontal
  .p-inputnumber-clear-icon {
  right: 3.75rem;
}
