.p-menu {
  padding: 0.5rem 0;
  background: var(--surface-a);
  color: var(--text-color);
  border: 1px solid var(--surface-d);
  border-radius: var(--border-radius);
  width: 12.5rem;
}

.p-menu .p-menuitem > .p-menuitem-content {
  color: var(--text-color);
  transition: box-shadow 0.2s;
  border-radius: 0;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link {
  color: var(--text-color);
  padding: 0.75rem 1.25rem;
  user-select: none;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: var(--text-color);
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
  color: var(--text-color-secondary);
  margin-right: 0.5rem;
}

.p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
  color: var(--text-color-secondary);
}

.p-menu .p-menuitem.p-highlight > .p-menuitem-content {
  color: var(--highlight-text-color);
  background: var(--highlight-bg);
}

.p-menu
  .p-menuitem.p-highlight
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--highlight-text-color);
}

.p-menu
  .p-menuitem.p-highlight
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon,
.p-menu
  .p-menuitem.p-highlight
  > .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--highlight-text-color);
}

.p-menu .p-menuitem.p-highlight.p-focus > .p-menuitem-content {
  background: var(--surface-popup);
}

.p-menu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content {
  color: var(--text-color);
  background: var(--surface-d);
}

.p-menu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--text-color);
}

.p-menu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon,
.p-menu
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--text-color);
}

.p-menu
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  color: var(--text-color);
  background: var(--surface-c);
}

.p-menu
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--text-color);
}

.p-menu
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-menuitem-icon,
.p-menu
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--text-color-secondary);
}

.p-menu.p-menu-overlay {
  background: var(--surface-a);
  border: 0 none;
  box-shadow: 0 2px 12px 0 var(--color-shadow);
}

.p-menu .p-submenu-header {
  margin: 0;
  padding: 0.75rem 1.25rem;
  color: var(--gray-700);
  background: var(--surface-a);
  font-weight: 700;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.p-menu .p-menuitem-separator {
  border-top: 1px solid var(--surface-d);
  margin: 0.25rem 0;
}

.p-menu .p-menuitem-badge {
  background: var(--primary-color);
  color: var(--primary-color-text);
  font-size: 0.75rem;
  font-weight: 700;
  min-width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: var(--border-radius);
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
