.p-orderlist .p-orderlist-controls {
  padding: 1.25rem;
}

.p-orderlist .p-orderlist-controls .p-button {
  margin-bottom: 0.5rem;
}

.p-orderlist .p-orderlist-header {
  background: var(--surface-b);
  color: var(--gray-700);
  border: 1px solid var(--surface-d);
  padding: 1.25rem;
  border-bottom: 0 none;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.p-orderlist .p-orderlist-header .p-orderlist-title {
  font-weight: 700;
}

.p-orderlist .p-orderlist-filter-container {
  padding: 1.25rem;
  background: var(--surface-a);
  border: 1px solid var(--surface-d);
  border-bottom: 0 none;
}

.p-orderlist .p-orderlist-filter-container .p-orderlist-filter-input {
  padding-right: 1.75rem;
}

.p-orderlist .p-orderlist-filter-container .p-orderlist-filter-icon {
  right: 0.75rem;
  color: var(--text-color-secondary);
}

.p-orderlist .p-orderlist-list {
  border: 1px solid var(--surface-d);
  background: var(--surface-a);
  color: var(--text-color);
  padding: 0.75rem 0;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  outline: 0 none;
}

.p-orderlist .p-orderlist-list .p-orderlist-item {
  padding: 0.75rem 1.25rem;
  margin: 0;
  border: 0 none;
  color: var(--text-color);
  background: transparent;
  transition: box-shadow 0.2s;
}

.p-orderlist .p-orderlist-list .p-orderlist-item:not(.p-highlight):hover {
  background: var(--surface-c);
  color: var(--text-color);
}

.p-orderlist .p-orderlist-list .p-orderlist-item.p-focus {
  color: var(--text-color);
  background: var(--surface-d);
}

.p-orderlist .p-orderlist-list .p-orderlist-item.p-highlight {
  color: var(--highlight-text-color);
  background: var(--highlight-bg);
}

.p-orderlist .p-orderlist-list .p-orderlist-item.p-highlight.p-focus {
  background: var(--surface-popup);
}

.p-orderlist .p-orderlist-list .p-orderlist-empty-message {
  padding: 0.75rem 1.25rem;
  color: var(--text-color);
}

.p-orderlist
  .p-orderlist-list:not(.cdk-drop-list-dragging)
  .p-orderlist-item:not(.p-highlight):hover {
  background: var(--surface-c);
  color: var(--text-color);
}

.p-orderlist.p-orderlist-striped
  .p-orderlist-list
  .p-orderlist-item:nth-child(even) {
  background: var(--gray-50);
}

.p-orderlist.p-orderlist-striped
  .p-orderlist-list
  .p-orderlist-item:nth-child(even):hover {
  background: var(--surface-c);
}

.p-orderlist-item.cdk-drag-preview {
  padding: 0.75rem 1.25rem;
  box-shadow: 0 2px 12px 0 var(--color-shadow);
  border: 0 none;
  color: var(--text-color);
  background: var(--surface-a);
  margin: 0;
}
