.p-overlaypanel {
  background: var(--surface-a);
  color: var(--text-color);
  border: 0 none;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 1.25rem;
}

.p-overlaypanel .p-overlaypanel-close {
  background: var(--primary-color);
  color: var(--primary-color-text);
  width: 2rem;
  height: 2rem;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  border-radius: 50%;
  position: absolute;
  top: -1rem;
  right: -1rem;
}

.p-overlaypanel .p-overlaypanel-close:enabled:hover {
  background: var(--primary-500);
  color: var(--primary-color-text);
}

.p-overlaypanel:after {
  border: solid transparent;
  border-color: transparent;
  border-bottom-color: var(--surface-a);
}

.p-overlaypanel:before {
  border: solid transparent;
  border-color: transparent;
  border-bottom-color: var(--surface-b);
}

.p-overlaypanel.p-overlaypanel-flipped:after {
  border-top-color: var(--surface-a);
}

.p-overlaypanel.p-overlaypanel-flipped:before {
  border-top-color: var(--surface-a);
}
