.p-panelmenu .p-panelmenu-header {
  outline: 0 none;
}

.p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
  border: 1px solid var(--surface-d);
  color: var(--text-color-secondary);
  background: var(--surface-b);
  border-radius: var(--border-radius);
  transition: box-shadow 0.2s;
}

.p-panelmenu
  .p-panelmenu-header
  .p-panelmenu-header-content
  .p-panelmenu-header-action {
  color: var(--text-color-secondary);
  padding: 1.25rem;
  font-weight: 700;
}

.p-panelmenu
  .p-panelmenu-header
  .p-panelmenu-header-content
  .p-panelmenu-header-action
  .p-submenu-icon {
  margin-right: 0.5rem;
}

.p-panelmenu
  .p-panelmenu-header
  .p-panelmenu-header-content
  .p-panelmenu-header-action
  .p-menuitem-icon {
  margin-right: 0.5rem;
}

.p-panelmenu
  .p-panelmenu-header:not(.p-disabled):focus-visible
  .p-panelmenu-header-content {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem var(--focus-ring);
}

.p-panelmenu
  .p-panelmenu-header:not(.p-highlight):not(.p-disabled):hover
  .p-panelmenu-header-content {
  background: var(--surface-c);
  border-color: var(--surface-d);
  color: var(--gray-700);
}

.p-panelmenu
  .p-panelmenu-header:not(.p-disabled).p-highlight
  .p-panelmenu-header-content {
  background: var(--surface-b);
  border-color: var(--surface-d);
  color: var(--gray-700);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 0;
}

.p-panelmenu
  .p-panelmenu-header:not(.p-disabled).p-highlight:hover
  .p-panelmenu-header-content {
  border-color: var(--surface-d);
  background: var(--surface-c);
  color: var(--gray-700);
}

.p-panelmenu .p-panelmenu-content {
  padding: 0.5rem 0;
  border: 1px solid var(--surface-d);
  background: var(--surface-a);
  color: var(--text-color);
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.p-panelmenu .p-panelmenu-content .p-panelmenu-root-list {
  outline: 0 none;
}

.p-panelmenu .p-panelmenu-content .p-menuitem > .p-menuitem-content {
  color: var(--text-color);
  transition: box-shadow 0.2s;
  border-radius: 0;
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link {
  color: var(--text-color);
  padding: 0.75rem 1.25rem;
  user-select: none;
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--text-color);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon {
  color: var(--text-color-secondary);
  margin-right: 0.5rem;
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  > .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--text-color-secondary);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem.p-highlight
  > .p-menuitem-content {
  color: var(--highlight-text-color);
  background: var(--highlight-bg);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem.p-highlight
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--highlight-text-color);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem.p-highlight
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon,
.p-panelmenu
  .p-panelmenu-content
  .p-menuitem.p-highlight
  > .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--highlight-text-color);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem.p-highlight.p-focus
  > .p-menuitem-content {
  background: var(--surface-popup);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content {
  color: var(--text-color);
  background: var(--surface-d);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--text-color);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content
  .p-menuitem-link
  .p-menuitem-icon,
.p-panelmenu
  .p-panelmenu-content
  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus
  > .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--text-color);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover {
  color: var(--text-color);
  background: var(--surface-c);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-menuitem-text {
  color: var(--text-color);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-menuitem-icon,
.p-panelmenu
  .p-panelmenu-content
  .p-menuitem:not(.p-highlight):not(.p-disabled)
  > .p-menuitem-content:hover
  .p-menuitem-link
  .p-submenu-icon {
  color: var(--text-color-secondary);
}

.p-panelmenu
  .p-panelmenu-content
  .p-menuitem
  .p-menuitem-content
  .p-menuitem-link
  .p-submenu-icon {
  margin-right: 0.5rem;
}

.p-panelmenu .p-panelmenu-content .p-menuitem-separator {
  border-top: 1px solid var(--surface-d);
  margin: 0.25rem 0;
}

.p-panelmenu .p-panelmenu-content .p-submenu-list:not(.p-panelmenu-root-list) {
  padding: 0 0 0 1rem;
}

.p-panelmenu .p-panelmenu-panel {
  margin-bottom: 4px;
}
