.p-radiobutton {
  width: 22px;
  height: 22px;
}

.p-radiobutton .p-radiobutton-box {
  border: 2px solid var(--gray-300);
  background: var(--surface-a);
  width: 22px;
  height: 22px;
  color: var(--text-color);
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: var(--primary-color);
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  border-color: var(--primary-color);
}

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  width: 12px;
  height: 12px;
  transition-duration: 0.2s;
  background-color: var(--surface-a);
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: var(--primary-color);
  background: var(--primary-color);
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border-color: var(--highlight-text-color);
  background: var(--highlight-text-color);
  color: var(--primary-color-text);
}

p-radiobutton.ng-dirty.ng-invalid > .p-radiobutton > .p-radiobutton-box {
  border-color: var(--red-500);
}

.p-input-filled .p-radiobutton .p-radiobutton-box {
  background-color: var(--surface-c);
}

.p-input-filled .p-radiobutton .p-radiobutton-box:not(.p-disabled):hover {
  background-color: var(--surface-c);
}

.p-input-filled .p-radiobutton .p-radiobutton-box.p-highlight {
  background: var(--primary-color);
}

.p-input-filled
  .p-radiobutton
  .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  background: var(--highlight-text-color);
}

.p-radiobutton-label {
  margin-left: 0.5rem;
}
