.p-toolbar {
  background: var(--surface-b);
  border: 1px solid var(--surface-d);
  padding: 1.25rem;
  border-radius: var(--border-radius);
  gap: 0.5rem;
}

.p-toolbar .p-toolbar-separator {
  margin: 0 0.5rem;
}
