<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="grid">
    <div class="col-12">
      <label for="currentPassword" class="inline-block text-white mb-2">Senha Atual</label>
      <input pInputText formControlName="currentPassword" type="password" id="currentPassword" name="currentPassword" autocomplete="off" class="w-full" placeholder="Digite sua senha atual" aria-label="Campo para senha atual">
      @if (formSubmitted && currentPasswordControl.errors) {
      <small class="inline-block mt-2 text-red-500">Preencha com sua senha atual.</small>
      } @else if (currentPasswordControl.touched && currentPasswordControl.hasError('required')) {
      <small class="inline-block mt-2 text-red-500">Este campo é obrigatório.</small>
      }
    </div>
    <div class="col-12 md:col-6">
      <label for="newPassword" class="inline-block text-white mb-2">Nova Senha</label>
      <input pInputText formControlName="newPassword" type="password" id="newPassword" name="newPassword" autocomplete="off" class="w-full" placeholder="Digite sua nova senha" aria-label="Campo para nova senha">
      @if (formSubmitted && newPasswordControl.errors) {
      <small class="inline-block mt-2 text-red-500">Preencha com sua nova senha.</small>
      } @else if (newPasswordControl.touched && newPasswordControl.hasError('required')) {
      <small class="inline-block mt-2 text-red-500">Este campo é obrigatório.</small>
      }
    </div>
    <div class="col-12 md:col-6">
      <label for="confirmPassword" class="inline-block text-white mb-2">Confirmar Senha</label>
      <input pInputText formControlName="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" autocomplete="off" class="w-full" placeholder="Digite novamente sua senha" aria-label="Campo para confirmar nova senha">
      @if (formSubmitted && confirmPasswordControl.errors) {
      <small class="inline-block mt-2 text-red-500">Preencha novamente com sua nova senha.</small>
      } @else if (confirmPasswordControl.touched && confirmPasswordControl.hasError('required')) {
      <small class="inline-block mt-2 text-red-500">Este campo é obrigatório.</small>
      }
    </div>
    <div class="col-12">
      <button pButton type="submit" label="Alterar" class="w-full md:w-auto uppercase"></button>
    </div>
  </div>
</form>