<c-layout>
  <h1 class="text-gray-400">Painel de Controle</h1>
  <div class="grid">
    <div class="col-12 md:col-6 p-3">
      <a routerLink="/admin/users" class="btn-admin-link">
        <img src="assets/users.svg">
        Usuários
      </a>
    </div>
    <div class="col-12 md:col-6 p-3">
      <a routerLink="/admin/films" class="btn-admin-link">
        <img src="assets/film-reel.svg">
        Filmes
      </a>
    </div>
    <div class="col-12 md:col-6 p-3">
      <a routerLink="/admin/sessions" class="btn-admin-link">
        <img src="assets/film-slate.svg">
        Sessões
      </a>
    </div>
    <div class="col-12 md:col-6 p-3">
      <a routerLink="/admin/rooms" class="btn-admin-link">
        <img src="assets/popcorn.svg">
        Salas e Assentos
      </a>
    </div>
  </div>
</c-layout>