<c-layout>
  <div>
    <h1 class="text-3xl text-gray-300 uppercase m-0">
      Editar Sala de Cinema
    </h1>
    <span class="inline-block text-gray-600 mt-1">
      Atualizar sala de cinema
    </span>
  </div>

  <span class="inline-block mt-4 text-red-300"><span class="pi pi-info-circle"></span> É possivel editar somente salas que não possuem sessões.</span>

  <form class="mt-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- <c-seat-map-creator [form]="form" /> -->

    <div class="w-full mt-4 flex justify-content-between align-content-center">
      <a routerLink="/admin/rooms">
        <p-button label="Voltar" [outlined]="true" styleClass="uppercase" />
      </a>

      <button pButton label="Editar" type="submit" class="uppercase"></button>
    </div>
  </form>

</c-layout>